body {
  margin: 0;
  padding: 0;
}

#main {
  width: fit-content;
  height: fit-content;
}

#menu {
  display: flex;
  background-color: #aaa;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
}

#menuItem {
  color: white;
  font-family: 'Helvetica';
  font-size: 1.6em;
  font-weight: bold;
  width: 200px;
  height: 40px;
}

#barContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100vw;
  height: 870px;
}

#cell {
  width: 18px;
  height: 18px;
  background-color: cornflowerblue;
}